parameters:
  flavor_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  image_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  key_name: "mykey"
  network_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  security_groups:
    - "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    - "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
    - "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  subnet_id: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
  extra_packages:
    - package
    - package
    - package
  docker_daemon_opts:
    mtu: 1400
